*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}ul{
    list-style: none;
}
header{
    background-color: hsl(159.38deg 100% 74.9%);
    padding: 10px;
}
.margin{
    margin: 10px 0;
}
main{
    margin-left: 20px;
}
h1{
    margin-left: 10px;
}
.color{
    background-color: hsl(25deg 75% 47.06%);
    margin-left: 5px;
    padding: 5px;
    color: white;
}